@import './assets/variables';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

header {
  background-color: $header-background-color;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1rem;
}
