{{!-- {{> header}}
<main>
  <h1>Register Page</h1>
  <form id="register-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>
  </form>
</main>
<script type="module" src="./register.js"></script> --}}

{{#> dialog }}
  <form class="register-page">
    <div class="register-page__content">
      {{> pageTitle title="Регистрация" }}
      {{> inputField className="register-page__input" title="Логин" name="login" type="text" }}
      {{> inputField className="register-page__input" title="Пароль" name="password" type="password" }}
      {{> inputField className="register-page__input" title="Повторите пароль" name="password_confirmation" type="password" }}
    </div>
    <div class="register-page__footer">
      {{> button text="Зарегистрироваться" page="/pages/chat/chat" }}
    </div>
  </form>
{{/ dialog }}

